@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans Thai", ui-sans-serif, system-ui, sans-serif;
  
  --color-cold: #7dd3fc;         
  --color-fine: #6ee7b7;          
  --color-hot: #fb923c;           
  
  --color-primary-blue: #6366f1;  
  --color-text-dark: #334155;    
  --color-text-gray: #94a3b8;    
}
body {
  background: #f8fafc;
  min-height: 100vh;
}
